<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All recipes</title>
</head>
<body>
    <main>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="recipe: ${recipes}">
                        <td th:text="${recipe.title}"></td>
                        <td th:text="${recipe.description}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>